$morning-green: #85bbb1;
$salmon-carpaccio: #f1897b;
$maritime-blue: #262a3f;
$maritime-blue-10: #262a3f1a;
$maritime-blue-50: #262a3f80;
$maritime-blue-60: #262a3f99;
$maritime-blue-80: #262a3fcc;
$tristesse: #091220;
$titanium-white: #e4e4e4;
$coarse-wool: #161926;
$coarse-wool-90: #161926e6;
$guilliman-blue: #689ff2;
$guilliman-blue-30: #689ff24d;
$rare-wind: #53f3cd;
$white-10: #ffffff1a;
$white-50: #FFFFFF80;
$white-60: #FFFFFF99;
$white-80: #ffffffcc;
$white-90: #ffffffe5;
$nightshade-purple: #515773;
$breathtaking-30: #5862914d;
